<div class="container">
	<div class="row">
		<div class="align-items-center d-flex justify-content-between">
			<div class="esquerda">
				{{ page.topbar_esquerda }}
			</div>
			{{ page.topbar_direita }}
			<span class="menu-top justify-content-center align-items-center rounded-circle oculto-no-desktop" id="menu-top">
				<i class="fas fa-chevron-down arrow"></i>
			</span>
		</div>
	</div>
</div>
